@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* @apply overflow-x-hidden; */
  scroll-behavior: smooth;
}

*,
* > * {
  @apply font-[genty];
}
.rbh {
  text-shadow: 1px 1px #00000036;
}
.rbh::after {
  text-shadow: 3px 3px #00000036;
}
.rbh::before {
  text-shadow: 3px 3px #00000036;
}

@font-face {
  font-family: "Genty";
  src: url("./fonts/GentySans-Regular.ttf");
}

.fx {
  @apply flex justify-center items-center;
}
.genty {
  @apply font-[genty];
}

h2.heading {
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.scroller.active {
  @apply !bg-white !shadow-md;
}
.scroller.active .nav-link {
  @apply !text-black;
}
.scroller.inactive {
  @apply bg-transparent shadow-none;
}
.foot * {
  @apply !text-c3;
}
footer .links div {
  @apply flex flex-col gap-3 items-start;
}
footer .links div h3 {
  @apply font-bold text-xl !text-c3;
}
/* body::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  @apply bg-c3/85 hover:bg-c3 duration-200 rounded-full;
} */
