@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  @apply overflow-x-hidden;
  scroll-behavior: smooth;
}

* {
  @apply font-[genty];
}
.rbh {
  text-shadow: 1px 1px #00000036;
}

@font-face {
  font-family: "Genty";
  src: url("./fonts/GentySans-Regular.ttf");
}

.fx {
  @apply flex justify-center items-center;
}
.genty {
  @apply font-[genty];
}

h2.heading {
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  margin-bottom: 80px;
}
